<% provide(:title, 'About') %>
<div class="center hero-unit">

<h1>How It Works</h1>
<p>
  <%= link_to "Fitness Junction", root_path %>
  is a project for the Higher Diploma in Web Technologies at the 
  	<a href="http://rubyonrails.org/">National College of Ireland</a>. 
  	This page will explain about how the application is meant to work.
</p>
<h1>..... </h1>