<% provide(:title, 'Search') %>


<h1>Search for routes, other users, clubs, and events.</h1>
<p>
  This feature not yet ready. Please click <%= link_to 'here', users_path %> to search for users.
</p>

            
<h1>..... </h1>