<% provide(:title, 'Search') %>
<div class="center hero-unit">

<h1>Search for routes, other users, clubs, and events.</h1>
<p>
  Enter a name, location, or activity type below:
</p>


               <li><form class="form-search">
    <input type="text" class="input-medium search-query">
    <button type="submit" class="btn">Search</button>
    </form></li>

    <h1>..... </h1>