
<div class="center hero-unit">
<h1>New course</h1>
<p class="center">
 
</p>
<div class="row">
  <div class="span4 offset4">
    <%= form_tag '/upload', :method => :put, :multipart => true do %>
<%= label_tag :file, 'Upload file:' %>
<%= file_field_tag :file %>
<br/>
<%= submit_tag "Upload", class: "btn btn-large btn-primary" %>
<% end %>
      
  </div>
</div>
</div>

<!-- the script below relates to the jQuery File-Upload plugin used in app/assets/javascripts/courses.js.coffee. It shows a progress bar when a file is being uploaded, but it's interfering with the redirection set up in the Courses controller, so it's left out for time being. -->

<!--<script id="template-upload" type="text/x-tmpl">
<div class="upload">
  {%=o.name%}
  <div class="progress"><div class="bar" style="width: 0%"></div></div>
</div>
</script>-->