<div class="center hero-unit">

<h2>File Uploaded!!</h2>
<h5>Course ID: <%= @course.id %></h5>

<p class="center">

Click <%= link_to "here ", course_path(@course) %>to view...</p>
<%= content_tag :div, "", id: "elevation_profile", data: {elevations: @elevations} %>
<h2>Ele<%= @elevations %></h2>


