
 
<p>
  <b>Name:</b>
  <%= @trackpoint.latitude %>
</p>
 
<p>
  <b>Title:</b>
  <%= @trackpoint.longitude %>
</p>
 
<%= gmaps({
    "map_options" => { "type" => "TERRAIN", "center_latitude" => 0, "center_longitude" => 180, "zoom" => 3, "auto_adjust" => true},
    "markers"     => { "data" => '[{ "description": "test_description", "title": "test_title", "lng": "55.9311119", "lat": "23.1251606", "picture": "compete2.png", "width": "35", "height": "25" } ,{ "description": "", "title": "", "lng": "2.3509871", "lat": "48.8566667", "picture": "", "width": "", "height": "" } ]',
                                         },
    "polylines"   => { "data" => ' [ [
                         {"lng": -6.428389325737953, "lat": 53.348903115838766},
                         {"lng": -6.428440790623426, "lat": 53.34885056130588},
                         {"lng": -6.428495524451137, "lat": 53.34875861182809},
                         {"lng": -6.428530141711235, "lat": 53.3486407622695},
                         {"lng": -6.428605075925589, "lat": 53.34841403178871},
                         {"lng": -6.429204801097512, "lat": 53.34966218098998},
                         {"lng": -6.4277946297079325, "lat": 53.35192906670272},
                         {"lng": -6.427453653886914, "lat": 53.352670865133405},
                         {"lng": -6.426297957077622, "lat": 53.35405991412699},
                         {"lng": -6.424547228962183, "lat": 53.354489486664534},
                         {"lng": -7.424547228962183, "lat": 54.354489486664534},
                         ]
                         ]' },
     "polygons"    => { "data" => '[ [
                         {"lng": -80.190262, "lat": 25.774252}, 
                         {"lng": -66.118292, "lat": 18.466465},
                         {"lng": -64.75737, "lat": 32.321384}
                         ] ]' },
     "direction"   => { "data"    => { "from" => "dublin, ireland", "to" => "dublin, ireland"} ,
                        "options" => {"waypoints" => ["kilcock, ireland", "ballivor, ireland", "trim, ireland"], "travelMode" => "WALKING", "display_panel" => true, "panel_id" => "instructions"}
 }
    })
    %>