
<h1>Files Uploaded</h1>
<br/>
<table>
  <tr>
    <th>ID</th>
    <th>File Name &amp; Location</th>
  </tr>

<% @uploads.each do |upload| %>
  <tr>
    <td><%= upload.id %></td>
    <td><%= upload.name %></td>
  </tr>
<% end %>
</table>


