<footer class="footer">
  <small>
    A <a href="http://rubyonrails.org/" id="Rails">Rails</a> Project
    by John McCormack
  </small>
  <nav>
    <ul>
      <li><%= link_to "About", about_path %></li>
      <li><%= link_to "Contact", '#' %></li>
      <li><a href="http://www.ncirl.ie/">NCIRL</a></li>
    </ul>
  </nav>
</footer>